<!doctype html>
<html lang="en">

<head>
    <title>Equipos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/1c522322b5.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../style/inicio.css">
        <link rel="stylesheet" href="../style/tabla.css">

</head>




<body>
    <header id="header">
            <!-- BARRA DE NAVEGACION -->
    <header>
        <div class="header-container">
            <div class="header-logo">
                <img src="../media/logoEportal.png" alt="Logo del club">
            </div>
  
            <div class="header-links">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="equipos.html">Equipos</a></li>
                    <li><a href="eventos.html">Eventos</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="crearequipo.html">ABM equipos</a></li>
                </ul>
            </div>
        </div>
      </header>
    </header>
    <main>
        <div id="app" class="container">
            <br>
            <h1>Equipos</h1>
            
            <a class="btn btn-primary" href="equipo_nuevo.html">Nuevo</a>

            <section v-if="error">Lo sentimos se produjo un error</section>
            <section v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>

                </section>
                <section v-else>
                    
                    <div class="table-responsive-lg">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Pais</th>
                                    <th scope="col">Link informacion</th>
                                    <th scope="col">Link imagen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="alumno in alumnos" class="">
                                    <td scope="row">{{alumno.id}}</td>
                                    <td>{{alumno.nombre}}</td>
                                    <td>{{alumno.apellido}}</td>
                                    <td>{{alumno.DNI}}</td>
                                    <td>{{alumno.telefono}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" v-on:click="eliminar(alumno.id)"    >Eliminar</button>
                                        
                                        <a class="btn btn-primary" :href="'equipo_editar.html?id='+ alumno.id+'&nombre=' +alumno.nombre+ '&apellido='+alumno.apellido+'&DNI='+alumno.DNI +  '&telefono='+alumno.telefono" >Editar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </div>
        </div>

    </main>
     <!-- FOOTER -->
     <footer>
        <div class="footer-container">
            <div class="footer-logo">
              <img src="../media/logoEportal.png" alt="Logo del club">
            </div>
            <div class="footer-links">
              <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="equipos.html">Equipos</a></li>
                <li><a href="eventos.html">Eventos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
              </ul>
            </div>
            <div class="social">
                <ul>
                    <li> <a href=#><img src="../media/fb.png" alt="Facebook logo"></a></li>
                    <li><a href=#><img src="../media/ig.png" alt="Instagram logo"></a></li>
                    <li><a href=#><img src="../media/tw.png" alt="Twitter logo"></a></li>
                    <li><a href=#><img src="../media/wpp.png" alt="Whatsapp logo"></a></li>
                    <li><a href=#><img src="../media/yt.png" alt="Youtube logo"></a></li>
                </ul>
            </div>
          </div>
          <div class="footer-bottom">
            <p>Derechos de autor © 2023 E-Portal. Todos los derechos reservados.</p>
          </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="./js/main.js"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="../js/equipo.js"></script>
</body>

</html>
