<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1c522322b5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/eventos.css">

    <title>Eventos</title>
</head>

<body>
  <!-- BARRA DE NAVEGACION -->
  <header>
    <div class="header-container">
        <div class="header-logo">
            <img src="../media/logoEportal.png" alt="Logo del club">
        </div>

        <div class="header-links">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="equipos.html">Equipos</a></li>
                <li><a href="eventos.html">Eventos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </div>
  </header>


     <div class="container-title">
        <div class="title">
          <h1>E-ventos</h1><br>
          <p>
            Selección de eventos destacados de la semana de e-sport
          </p>
        </div>
        
        
     </div>
  
     
   <div class="container event-container">   
      <div class="box-title1">
        <h3>King of the desert V</h3>
       </div>
      <div class="box-video1 video">
        <iframe  src="https://www.youtube.com/embed/9DpBmnkZ2DI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" style="width: 100%; height: 100%;" allowfullscreen></iframe>
       </div>
      <div class="box-descriptio1 desc_vid">
        <p id="desciption"> Higtlights del dia 3 del King of the desert V partidas:  MrYo vs Sitaux - Miguel vs Heartt no te pierdas le día a día de este emocionante torneo de Arabia hosteado por MembTV. Transmite y comenta Juan Perotti </p>
          <p>#aoe2 #ageofempires #ageofempires2 #rts #esports </p>
       </div>        
      <div class="box-title2">
        <h3>VCT Americas 2023</h3>
       </div>
      <div class="box-video2 video">
          <iframe src="https://www.youtube.com/embed/sMj1V0XvVZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" style="width: 100%; height: 100%;" allowfullscreen></iframe>
       </div>
      <div class="box-descriptio2 desc_vid">
            <p id="desciption">Dia 3 de la face regular del VCT Americas, VCT Américas reune de forma presencial y por primera vez a los 10 mejores equipos de Norte América, Brasil y Latinoamérica. Ocho semanas de fase regular desembocarán en una intensa etapa de playoffs que definirá a los tres equipos que competirán en Masters Tokyo, y empezarán a sumar puntos a Champions, el mundial de fin de año. Los equipos fuera del Top 3 irán al Last Chance Qualifier de América más adelante.</p>
            <p>#VCT #VALORANT</p>
        </div>
      <div class="box-title3">
        <h3>IEM Rio 2023 - Grand Final</h3>
       </div>
      <div class="box-video3 video">
         <iframe  src="https://www.youtube.com/embed/D4HMI3nBfq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" style="width: 100%; height: 100%;" allowfullscreen></iframe>
       </div>
      <div class="box-descriptio3 desc_vid">
        <p id="desciption">Reviví la gran final entre Team Vitality vs. Heroic por el IEM Rio 2023. Trasmision oficial (en Ingles) de ESL Counter-Strike en vivo el 23 de Abril   .</p>
      </div>
   </div>
     
</body>
    <!-- FOOTER -->
    <footer>
      <div class="footer-container">
          <div class="footer-logo">
            <img src="../media/logoEportal.png" alt="Logo del club">
          </div>
          <div class="footer-links">
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="equipos.html">Equipos</a></li>
              <li><a href="eventos.html">Eventos</a></li>
              <li><a href="contacto.html">Contacto</a></li>
            </ul>
          </div>
          <div class="social">
              <ul>
                  <li> <a href=#><img src="../media/fb.png" alt="Facebook logo"></a></li>
                  <li><a href=#><img src="../media/ig.png" alt="Instagram logo"></a></li>
                  <li><a href=#><img src="../media/tw.png" alt="Twitter logo"></a></li>
                  <li><a href=#><img src="../media/wpp.png" alt="Whatsapp logo"></a></li>
                  <li><a href=#><img src="../media/yt.png" alt="Youtube logo"></a></li>
              </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <p>Derechos de autor © 2023 E-Portal. Todos los derechos reservados.</p>
        </div>
  </footer>

</html>